<footer>
    <div class="f-info">
        <div class="f-info-title">
            <p>Contact Developer:</p>
        </div>
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/javaid-ahmad-mir-60b519240?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://instagram.com/ja_vai_d?igshid=NGVhN2U2NjQ0Yg=="><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div class="f-info-brand">&copy; Compass Private Limited</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>